Repository MarcPerezdeTudela/astro-blog: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "git add"],
  "*.{js,jsx,ts,tsx,astro}": [
    "prettier --write",
  ],
}

chore: 🔧 remove eslint and prettier
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

fix: 🐛 fix global styles
  src/layouts/Layout.astro
  src/lib/utils.ts
  src/pages/index.astro
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write

chore: 🔧 add eslint and prettier with correct config
  .eslintignore
  .eslintrc.cjs
  .husky/pre-commit
  .lintstagedrc
  .prettierignore
  .prettierrc
  package.json
  pnpm-lock.yaml
Due: none

chore: 🔧 add support for react
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  tailwind.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

chore: 🔧 add eslint rules for tsx files
  .eslintrc.cjs
  package.json
  pnpm-lock.yaml
Due: none

feat: ✨ add theme toggler
  src/components/ModeToggle.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
Due: eslint --fix, prettier --write

feat: ✨ add about, contact, and posts pages
  src/layouts/Layout.astro
  src/pages/about.astro
  src/pages/contact.astro
  src/pages/posts.astro
Due: prettier --write

feat: ✨ create header component
  astro.config.mjs
  package.json
  pnpm-lock.yaml
  src/components/Header.astro
  src/components/MobileMenu.tsx
  src/components/ModeToggle.tsx
  src/components/Navbar.tsx
  src/components/ui/navigation-menu.tsx
  src/components/ui/sheet.tsx
  src/env.d.ts
  src/icons/index.tsx
  src/icons/rocketLogo.svg
  src/styles/globals.css
Due: eslint --fix, prettier --write

fix: 🐛 add name to github link
  src/components/Header.astro
Due: prettier --write

chore: 🔧 fix baseUrl at tsconfig
  tsconfig.json
Due: none

style: 💎 remove duplicated styles from about.astro
  src/pages/about.astro
Due: prettier --write
